$white:         #ffffff;

$subtle:        #dcdcdc;

$stable:        #b8b8b8;

$warm-grey-two: #747474;

$black:         #202020;

$backgroundColor:#f7f7f7;

$font-grey:     #797979;
$line: #cccccc;

$input-border: #979797;

$text-light: #838383;

$line-grey:     #afafaf;

$input-background: #e8e8e8;

$warning: #e16464;

$green: #29cc8c;

$dark-green: #0d9e65;