@import '../../Styles/global.scss';
@import '../../Styles/color.scss';
@import '../../Styles/size.scss';

.menu-box{
    position : relative;
    margin-top : 65px;
    margin-bottom : 50px;
    margin-left : 100px;
}

.all-category-box{
    width :100%;
    max-width : 700px;
    -moz-column-count :2; /* Firefox */
    -webkit-column-count :2; /* Safari 和 Chrome */
    column-count :2;
    -moz-column-gap : 12%;
    -webkit-column-gap : 12%;
    column-gap : 12%;
    margin-top : 69px;
}

.category-box{
    -moz-page-break-inside : avoid;
    -webkit-column-break-inside : avoid;
    page-break-inside :avoid;
    break-inside : avoid;
    margin-bottom :(70px);
}

.menu-food-item{
    position : relative;
}

.menu-count{
    position : absolute;
    top :30px;
    left :-30px;
    width :24px;
    height : 24px;
    background-color : #d8d8d8;
    -moz-border-radius : 24px;
    border-radius :24px;
}

.menu-count-text{
    width :(24px);
    font-family : PingFangSC-Regular;
    font-size : 14px;
    line-height : 24px;
    color : #6e6e6e;
    text-align : center;
  }


.menu-text{
    width :100%;
    max-width :140px;
    height : auto;
    margin-top : 30px;
    font-family : PingFangSC-Regular;
    font-size : 16px;
    font-style : normal;
    font-weight : normal;
    font-stretch : normal;
    line-height : 1.5;
    color : $black;
    letter-spacing : normal;
}

.menu-price{
    height :24px;
    margin-top : 30px;
    font-family : PingFangSC;
    font-size : 16px;
    font-style : normal;
    font-weight : normal;
    font-stretch : normal;
    line-height : 1.5;
    color : $black;
    letter-spacing : normal;
    cursor : pointer;
}

/* cart style */
.menu-cart{
    &-container{
        position : fixed;
        right : 0;
        bottom : 0;
        left : 0;
        display : flex;
        justify-content : center;
        margin : auto;
    }

    &-content{
        position : absolute;
        right :calc(((100vw - 1440px) / 2) + 120px);
        bottom :calc((100vh - 670px) * 0.28);
    }

    &-main-container{
        display : flex;
        flex-direction : column;
        width : 320px;
        max-height : 670px;
        padding : 15px 20px 20px 20px;
        background : $backgroundColor;
        border : 1px solid $backgroundColor;
        box-shadow : 0 2px 8px 0 rgba(146, 146, 146, 0.5);
        transition : all 0.3s linear;
        > div {
            display : flex;
            flex-direction : column;
            overflow-x : hidden;
            overflow-y : auto;
            -webkit-overflow-scrolling : touch;
          }
    }
}