@import '../../Styles/color.scss';

.loading-container {
    position : fixed;
    top :             0;
    right :0;
    bottom :0;
    left :            0;
    z-index :          99;
}

.loading-opacityContainer {
    position :        fixed;
    top :             0;
    right : 0;
    bottom :0;
    left :            0;
    width :           100%;
    height :          100%;
    background-color : $white;
    opacity :         0.5
}

.loading-image-container{
    position :fixed;
    top :50%;
    left :50%;
    z-index :          100;
    margin-top :-50px;
    margin-left :-50px;
    text-align : center;
}
.loading-image {
    
    width :  30;
    height : 30
}