@import '../../Styles/global.scss';
@import '../../Styles/color.scss';
@import '../../Styles/size.scss';


.order-tab{
    @extend .h1;
    position : relative;
    width : 30%;
    height :auto;
    margin-top : 30px;
    margin-left :30px;
    line-height : 1;
    word-break : break-all;
    word-wrap : break-word;
}

.order-list{
    position : relative;
    display : grid;
    grid-template-rows : repeat(5,460px);
    grid-template-columns : 33% 33% 33%;
    width :100%;
    margin-left : 100px;

    >.order-item-box:nth-child(3n+2){
        grid-column-start :2;
      }

    >.order-item-box:nth-child(3n+0){
        grid-column-start :3;
    }

    > *{
        align-self : start;
        justify-self : center;
      }
}

.order-tab-fixed{
    position : fixed;
}