@import '../../Styles/global.scss';

.login-input-box{
    width : 450px;
}

.login-btn-box{
    width : 450px;
}

.login-btn{
    width : 300px;
    margin-top : 30px;
}

.sign-up-btn{
    width : 300px;
    margin-top : 30px;
    color :$black;
    background-color : white;
}

.sign-up-modal{
    width : 600px;
    height : 600px;
}

.sign-up-type-in{
    height : 200px;
    margin-top : 100px;
}

.sign-up-type-input{
    margin-top : 50px;
}

.sign-up-btn-box{
    margin-bottom : 50px;
}